<h1>Books Data</h1>

<a href="/form">Form Insert</a>

<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>price</td>
        <td>Action</td>
    </tr>
    <% books.forEach((item) =>{ %>
    <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td> <%= item.price %></td>
        <td>
            <a href="/edit?id=<%= item.id %>" >Edit</a>
            <a href="/delete?id=<%= item.id %>" onclick="return confirm('Are you sure ?')">Delete</a>
        </td>
    </tr>
    <% }); %>

</table>